<div class="container__bigcard">
  <div class="big-card__photo">
    <img
    src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/3421528F5E3679CEA7D89FE51BE6DE6904289364AD148688A2E236A340144BF6/scale?width=1200&aspectRatio=1.78&format=webp"
    alt=""
    height="200px"
    srcset=""
    >
  </div>

    <div class="big-card__title">
      <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
      <p>
        <a href="">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Donec tellus turpis, blandit id massa sit amet, pellentesque tincidunt augue.
        Suspendisse purus erat, euismod a lectus in, condimentum auctor metus.
      </a>
      </p>
    </div>

</div>
